---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import FloatingAlert from '../components/FloatingAlert.astro';
import Hero from '../components/Hero.astro';
import FCVSAlert from '../components/FCVSAlert.astro';
import StatsBar from '../components/StatsBar.astro';
import HistoryCarousel from '../components/HistoryCarousel.astro';
import WhyUs from '../components/WhyUs.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <FloatingAlert />
  <main>
    <Hero />
    <StatsBar />
    <FCVSAlert />
    <HistoryCarousel />
    <WhyUs />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
